a:focus,
a:active {
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

ul li {
    list-style: none;
}
body {
    font-family: "Montserrat";
}
.container {
    max-width: 1140px;
    padding: 50px 40px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
/*Header*/

.header {
    background: url(./../images/Background\ Image.png);
    height: 100vh;
    background-size: cover;
    color: #fff;
    .header__menu {
        justify-content: space-between;
        align-items: center;
        .header__logo {
            font-family: "Damion";
            color: #feda12;
            font-size: 36px;
        }
        .header__navigation {
            .navigation__list {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                .navigation__item {
                    margin: 10px 15px;

                    text-transform: uppercase;
                    font-size: 12px;
                    display: flex;
                }
            }
        }
    }
    .header__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        text-align: center;
        *:not(:last-child) {
            margin-bottom: 40px;
        }
        .header__subtitle {
            font-family: "Lora";
            font-size: 42px;
            text-transform: capitalize;
        }
        .header__title {
            font-family: "montserrat";
            font-size: 66px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .button {
            display: inline-block;
            background: #feda12;
            font-size: 100px;
            padding: 15px 35px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            &:hover {
                background: #e5c511;
            }
        }
    }
}

/*Services*/

.services {
}
.section__header {
    padding-top: 20px;
    padding-bottom: 40px;
    .section__title {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .section__subtitle {
        font-family: "Lora";
        padding-bottom: 30px;
        color: gray;
    }
}

.row {
}
.services__row {
}
.col {
}
.services__item {
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    *:not(:last-child) {
        margin-bottom: 24px;
    }
    .item__icon {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 2px solid #feda12;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: #feda12;
            font-size: 36px;
        }
    }

    .item__title {
        font-weight: 700;
    }
    .item__text {
        line-height: 1.5;
        color: gray;
    }
}

.portfolio {
    background: #f3ebeb;
    .portfolio__row {
        .portfolio__item {
            background: #fff;
            margin: 0 5px 48px 5px;

            img {
                width: 100%;
            }
            .portfolio__item_body {
                padding: 24px;
                line-height: 1.3;
                .portfolio__title {
                    font-weight: 700;
                }
                .portfolio__subtitle {
                    font-family: "Lora";
                }
            }
        }
    }
}

@media (max-width: 625px) {
    .header .container .row {
        flex-wrap: nowrap;
    }
    .header {
        .header__body {
            .header__subtitle {
                font-size: 30px;
            }
            .header__title {
                font-size: 48px;
            }
        }
        .header__menu .header__navigation .navigation__list {
            flex-wrap: wrap;
            justify-content: end;
            .navigation__item {
                flex: 0 1 20%;
            }
        }
    }
}
